<div class="container-fluid">
    <div>
        <acme-navbar creationDate="main.creationDate" />
    </div>
    <h3 class="text-center">Quantum</h3>
    <div class="col-sm-6">
        <!-- <pre>{{qtm.pending | json}}</pre> -->
        <h4>Log
         <button ng-click="qtm.getLog()" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i></button>
        </h4>
        <div ag-grid="qtm.logOptions" class="ag-fresh" style="width: 100%; height: 75vh;"></div>
    </div>
    <div class="col-sm-6">
        <h4>Pending Jobs
         <button ng-click="qtm.getPending()" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i></button>
         </h4>
        <div ag-grid="qtm.pendingOptions" class="ag-fresh" style="width: 100%; height: 75vh;"></div>
        <!-- <pre>{{qtm.log | json}}</pre> -->
    </div>
</div>
