<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">
        <span class="glyphicon glyphicon-home"></span> System Management
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="documents">Documents</a></li>
        <li ui-sref-active="active"><a ui-sref="quantum">Quantum</a></li>
        <li ui-sref-active="active"><a ui-sref="ttslite">TTS Lite</a></li>
        <!--<li><a ng-href="#">About</a></li>-->
        <!--<li><a ng-href="#">Contact</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
      </ul>
    </div>
  </div>
</nav>
